.radar-chart-container {
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    text-align: center;
  }
  
  .radar-chart-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  #radar-chart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .radar-axis line {
    stroke-width: 1px;
  }
  
  .radar-grid {
    stroke-dasharray: 2, 2;
  }
  
  .radar-chart-area {
    fill: steelblue;
    opacity: 0.6;
    stroke-width: 2px;
  }
  
  .radar-point {
    fill: white;
    stroke: steelblue;
  }
  